__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
.env

project_data/
outputs/
runs/

*.db
*.sqlite
*.sqlite3
*.log

*.avi
*.mp4

train/
val/

.vscode/
.idea/
.DS_Store
Thumbs.db

yolov8n.pt
yolov8n-pose.pt
yolo26n.pt
models/last.pt
models/*.onnx
